body {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;

}

.header {


display: flex;
justify-content: center;
align-items: center;
max-width: 100%;
color: white;
}

a {

    text-decoration-line: none;
    color: orange;

}

.meny {

display: flex;
justify-content: center;
align-items: center;
gap: 10px;


}

.meny a:hover {

color: white;

}

.infoBox {

display: flex;
justify-content: center;
align-items: center;
text-align: center;
margin-top: 5%;
width: 100%;
height: 150px;
background-color: #ffffff; 
color: black;
}