body {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;

}

.header {


display: flex;
justify-content: center;
align-items: center;
max-width: 100%;
color: white;
}

a {

    text-decoration-line: none;
    color: orange;

}

.meny {

display: flex;
justify-content: center;
align-items: center;
gap: 10px;


}

.meny a:hover {

color: white;



}